---

---

<section id="about-me-section" class="space-y-2">
  <h1 class="text-my-headline text-3xl font-semibold">About Me</h1>
  <p class="text-xl">
    Hi, My name is Muhammad <b class="font-bold text-my-accent-two">Nabil Fikri</b> Sudjarpadi Putra.
    I am 22 years old and have been building web applications for about two years.
    I graduated from Padjadjaran University in 2024 with a Bachelor's degree in Computer
    Science.
  </p>
</section>
