---
import TabsSection from "@/components/sections/TabsSection";
---

<section id="experience-section" class="flex flex-col gap-4">
  <h1 class="text-3xl font-semibold text-my-headline">Experience</h1>
  <TabsSection client:load />
</section>
