---
import MaxWidthWrapper from "@/layouts/MaxWidthWrapper.astro";
import type { HTMLAttributes } from "astro/types";
// import Hamburger from "./Hamburger";

type Props = HTMLAttributes<"header">;
const { class: className, ...props } = Astro.props;
---

<header
  class:list={[
    "sticky top-0 z-50 border-b border-b-gray-600 bg-my-background/80 py-3 backdrop-blur-sm",
    className,
  ]}
  {...props}
>
  <MaxWidthWrapper>
    <nav class="flex items-center gap-4">
      <span
        class="mr-auto font-outfit text-3xl font-semibold tracking-tighter hover:cursor-pointer"
        >micanskuy.tech</span
      >
      <!-- <Hamburger client:load /> -->
    </nav>
  </MaxWidthWrapper>
</header>
