---
import { EXTERNAL_LINKS } from "@/lib/constants";
import ResumeIcon from "./icons/ResumeIcon.astro";
---

<section
  class="mx-auto flex flex-col gap-6 rounded-lg border border-gray-600 p-6 sm:flex-row"
  id="main-section"
>
  <div
    class="flex h-fit w-fit animate-move-up items-center justify-center rounded-lg border border-gray-600 p-1"
  >
    <img class="h-24 w-24 rounded-md object-cover" src="/profile.jpg" />
  </div>
  <div class="flex flex-1 flex-col gap-2">
    <h1 class="animate-move-up text-5xl font-semibold tracking-tight">
      Nabil Fikri
    </h1>
    <h2 class="animate-move-up text-balance text-2xl font-light text-gray-300">
      Front End Dev Who Can Build Full Stack Apps Too
    </h2>
    <div class="flex animate-move-up items-center text-lg">
      <img
        class="mr-2 h-4 w-6 rounded-sm"
        src="/icons/flag.webp"
        alt="indonesian-flag"
      />
      <p>Bandung, West Java, Indonesia</p>
    </div>
    <p class="animate-move-up text-balance text-xl font-light text-gray-300">
      My name is Muhammad <b class="font-bold">Nabil Fikri</b> Sudjarpadi Putra.
      I'm 22 years old and I've been building webapps for around 2 years.
    </p>
    <div class="mt-2 flex animate-move-up items-center gap-4">
      <button
        class="flex h-8 items-center rounded-md border border-gray-600 bg-gray-50 p-1 px-2 pe-3 text-gray-900 transition-transform duration-500 hover:-rotate-2"
      >
        <img
          src="icons/resume.svg"
          alt="resume-icon"
          class="mr-1 h-5 w-5 object-cover"
        />
        Resume
      </button>
      {
        EXTERNAL_LINKS.map((item) => (
          <a
            href={item.href}
            class="h-8 w-8 transition-transform duration-500 hover:-rotate-12"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src={item.imgSrc} alt={item.imgAlt} class="object-cover" />
          </a>
        ))
      }
    </div>
  </div>
</section>
