---
import type { HTMLAttributes } from "astro/types";

type Props = {
  fillVertical?: boolean;
} & HTMLAttributes<"div">;

const { class: className, fillVertical, ...props } = Astro.props;
---

<div
  class:list={[
    "mx-auto w-full max-w-3xl px-5",
    fillVertical && "h-full flex-1",
    className,
  ]}
  {...props}
>
  <slot />
</div>
